.cta {
    width: 100%;
    height: auto;
    text-align: center;
    padding-bottom: 150px;

    .container {
        max-width: 1128px;
        width: 100%;
        margin: 0 auto;
        .section_inner {
            position: relative;
            padding-top: 48px;
            padding-bottom: 48px;
        }
        .cta_inner {
            padding: 48px 16px;
            position: relative;
            padding-top: 48px;
            padding-bottom: 48px;
            background: #ebebeb;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: space-between;
            box-shadow: 10px 10px 5px #d1d1d1;            // ::before {
            //     content: '';
            //     position: absolute;
            //     right: 98px;
            //     top: -117px;
            //     width: 160px;
            //     height: 187px;
            //     background-image: url();
            //     background-repeat: no-repeat;
            //     background: #000;
            // }
            .section_title {
                font-size: 32px;
                letter-spacing: 0;
                text-align: left;
            }
            .cta_desc {
                .button {
                    display: inline-flex;
                    font-size: 14px;
                    letter-spacing: 0;
                    font-weight: 600;
                    // line-height: 16;
                    text-decoration: none !important;
                    text-transform: uppercase;
                    background: #000;
                    color: #000000 !important;
                    border: none;
                    border-radius: 2px;
                    cursor: pointer;
                    padding: 16px 32px;
                    // height: 48px;
                    text-align: center;
                    white-space: nowrap;
                    margin-right: 20px;
                }
                .button-primary {
                    background: #000;
                    background: linear-gradient(65deg, #ffffff, #dfdfdf 100%);
                }
            }
        }
    }
}